body {
    background-color: lightyellow;
}

h1 {
    color: red;
    text-align: center;
    font-weight: 900;
}

.text {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

