body {
    background-color: lightyellow;
}

h1 {
    color: red;
    text-align: center;
    font-weight: 900;
}

.text {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

hr {
    width: 600px;
}

p {
    width: 500px;
    margin: 0 auto auto;
    padding-bottom: 10px;
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
}

